:root {
    --off-white: #FBFBFB;
    --lavender: #EAE4F7;
    --purple: #7D30F0;
    --indigo: #3E0099;
    --yellow: #FFE80A;
}

body{
    outline: 2px solid black;
    width: 1920px;
    height: 1080px;
    margin: 0;
}

.pronouns {
    background: var(--indigo);
    color: white;
    font-size: .5em;
    padding: .05em .18em;
    width: fit-content;
    margin-left: .65em;
    transform: scaleX(.9) translateY(.085em);
    transform-origin: left;
}

.caster-wrapper {
    display: flex;
    align-items: center;
}